<!doctype html>
<html lang="en">
<head>
    <title>Meadowlark Travel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    {{{_sections.head}}}
</head>
<body>
    <div class="container">
        <header>
            <div class="container">
                <h1 class="logo-item">Meadowlark Travel</h1>
                <img class="logo-item" src="/img/logo_small.png" alt="Meadowlark Travel Logo">
            </div>
            <div class="container">
                <nav id="site-nav" class="list-nav">
                    <ul class="nav-elem">
                        <li class="nav-item"><a class="nav-item-ref" href="/">Главная</a></li>
                        <li class="nav-item"><a class="nav-item-ref" href="/about">О нас</a></li>
                        <li class="nav-item"><a class="nav-item-ref" href="/contest/vacation-photo/2022/9">Соревнование</a></li>
                        <li class="nav-item"><a class="nav-item-ref" href="/newsletter">Подписаться на почтовую рассылку</a></li>
                        <li class="nav-item"><a class="nav-item-ref" href="/test">Тест</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {{#if flash}}
            <div class="alert alert-dismissible alert-{{flash.type}}">
                <button type="button" class="btn-close"
                    data-dimiss="alert" aria-hidden="true">&times;</button>
                <strong>{{flash.intro}}</strong> {{{flash.message}}}
            </div>
        {{/if}}
        <div class="container">
            {{{body}}}
        </div>
        <footer>&copy; 2022 Meadowlark Travel</footer>
    </div>
    {{{_sections.script}}}
</body>
</html>